
.input {
  display: flex;
  gap: 0.5rem;
}

.input textarea {
  width: 40rem;
  height: 3.3rem;
  border-radius: 8px;
  resize: none;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);

  color: var(--gray-300);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  overflow: hidden;
  padding: 1rem;
  outline: none;
}

.input textarea:focus {
  border: 2px solid var(--purple-200);
}


.input button  {
  background: var(--blue-200);
  width: 5.75rem;
  height: 3.25rem;
  border-radius: 8px;
  color: var(--gray-100);
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.input button:hover {
  background: var(--blue-100);
}


.counter {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

}

.counter div {
  display: flex;
  gap: 0.8rem;
}

.counter span {
  background: var(--gray-400);
  border-radius: 8px;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;


}

.createdTasks {
  color: var(--blue-100);
  font-size: 0.875rem;
  font-weight: bold;
}

.concludedTasks {
  color: var(--purple-200);
  font-size: 0.875rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}




